@model Movie_MVC.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.HiddenFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.HiddenFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StarName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StarName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
